@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Comfortaa', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}
  

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #428bca;
  border-left-width: 5px;
  border-radius: 3px;

}